<!DOCTYPE html>

<html>
<head>
    <title>Thư Mời Dự Tiệc</title>
</head>
<body>
<div>
    <h1>Chào mừng đến với bữa tiệc của lớp DH20LT</h1>
    <p>Chúng tôi chuẩn bị có một bữa tiệc đặc biệt kỷ niệm khoảng thời gina bên nhau của lớp</p>
    <p>Bữa tiệc bắt đầu lúc <time></time></p>
    Click <a asp-controller="Home" asp-action="ResponseForm">vào đây</a> để trả lời thư mời
    <br/>
    <img src="https://c.neevacdn.net/image/fetch/s--wH7Ao3TQ--/https%3A//tse3.mm.bing.net/th%3Fid%3DOIP.SpdF8HgM6lX1xCQr4wcDGgHaKX%26pid%3DApi?savepath=th"/>
</div>
</body>
</html>