@model CompanyManagement.Models.Products.Product

<html>
<head>
    <meta charset="utf-8" content="width=device-width">
    <title>Employee Details</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
<p>Employee Details</p>
<div class="card">
    
</div>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Department</th>
                <th>Price</th>
                <th>Category</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                
            </tr>
        </tbody>
    </table>
</body>
</html>