@model CompanyManagement.Models.Employees.Employee

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Add Employee</title>
</head>
<body>
<div>
    <form asp-action="AddEmployee">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
                    <label asp-for="ID">Nhập ID:</label>
                    <input asp-for="ID" type="text" class="form-control" id="exampleInputPhone" aria-describedby="sdtHelp">
                    <small id="emailHelp" class="form-text text-muted">Chúng tôi sẽ không bao giờ chia sẽ sđt của bạn với bất kỳ ai.</small>
                </div>
        <div class="form-group">
            <label asp-for="Name">Nhập tên Nhân viên:</label>
            <input asp-for="Name" type="text" class="form-control" id="exampleInputName" aria-describedby="nameHelp">
            <small id="emailHelp" class="form-text text-muted">Chúng tôi sẽ không bao giờ chia sẽ tên của bạn với bất kỳ ai.</small>
        </div>
        <div class="form-group">
            <label asp-for="Department">Phòng của Nhân Viên:</label>
            <input asp-for="Department" type="email" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp">
            <small id="emailHelp" class="form-text text-muted">Chúng tôi sẽ không bao giờ chia sẽ email của bạn với bất kỳ ai.</small>
        </div>
        <button type="submit" class="btn btn-primary">Tạo</button>
    </form>
</div>
</body>
</html>