@model CompanyManagement.Models.ViewModels.CreateViewModel

<!DOCTYPE html>

<html>
<head>
    <title>Add Employee</title>
</head>
<body>
<div>
    <form asp-action="AddEmployee" enctype="multipart/form-data" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name">Nhập tên Nhân viên:</label>
            <input asp-for="Name" type="text" class="form-control" id="exampleInputName" aria-describedby="nameHelp">
            <small id="emailHelp" class="form-text text-muted">Chúng tôi sẽ không bao giờ chia sẽ tên của bạn với bất kỳ ai.</small>
        </div>
        <div class="form-group">
            <label asp-for="Department">Phòng của Nhân Viên:</label>
            <input asp-for="Department" type="text" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp">
            <small id="emailHelp" class="form-text text-muted">Chúng tôi sẽ không bao giờ chia sẽ email của bạn với bất kỳ ai.</small>
        </div>
        <div class="form-group">
            <label asp-for="Photo"> Upload Avatar</label>
            <input asp-for="Photo" type="file" class="form-control" placeholder="PhotoPath">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Tạo</button>
        </div>
    </form>
</div>
</body>
</html>