@model IEnumerable<CompanyManagement.Models.Employees.Employee>

<!DOCTYPE html>

<html>
<head>
    <title>List all Employees</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<div>
    <h1>List all Employees</h1>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Department</th>
        </tr>
        </thead>
        <tbody>

        @foreach (var employee in Model)
        {
            <tr>
                <td>@employee.ID</td>
                <td>@employee.Name</td>
                <td>@employee.Department</td>
                <td><button type="button" class="btn btn-info">Cập Nhật</button></td>
                <td><button type="button" class="btn btn-danger">Xóa</button></td>
            </tr>
        }
        
        </tbody>
    </table>
    <button type="button" class="btn btn-primary" >
        <a asp-action="AddEmployee" class="text-decoration-none text-white">Thêm Nhân Viên</a>
    </button>
</div>
</body>
</html>